@using System
<div class="row">
	<div class="col-md-3">
		<h2>Welcome</h2>
		<ul>
			<li>Your server is up and running. The time is @DateTime.UtcNow.TimeOfDay.ToString() UTC.</li>
		</ul>
	</div>
</div>
