@using System
<div class="row">
	<div class="col-md-3">
		<h2>Welcome</h2>
		<hr />
		<p>Your server is up and running. The time is @DateTime.UtcNow.TimeOfDay.ToString() UTC.</p>
		<br/>
		<a href="http://nicholasventimiglia.com">Support</a>
	</div>
</div>
