<div class="row">
	<div class="col-md-3">
		<h2>Welcome</h2>
		<hr />
		<p>Your server is up and running. The time is @System.DateTime.UtcNow.TimeOfDay.ToString() UTC.</p>
		<br/>
		<a href="http://nicholasventimiglia.com">Nicholas Ventimiglia</a>
		<a href="https://github.com/NVentimiglia/DotNetCoreUnity3d">Project Github</a>
	</div>
</div>
